<div class="page__container">
  <div class="auth__card">
    <ng-container>
      <img src="../../../assets/images/426430-PE93QI-643.jpg">
    </ng-container>

    <div class="form__container">

      
      <section class="buttons">
        <button class="button" [class.isActive]="isSignIn" (click)="changeToSignIn()">Sign In</button>
        <button class="button" [class.isActive]="!isSignIn" (click)="changeToSignUp()">Sign Up</button>
      </section>
      <section class="cpntainer">
      <ng-template [ngIf]="isSignIn" [ngIfElse]="isSignup">
        <app-login></app-login>
      </ng-template>

      <ng-template #isSignup>
        <app-signup></app-signup>
      </ng-template>
    </section>
    </div>
  </div>
