@import "../../../styles/mixins.scss";

.wrapper {
  @include size(100%, 100%);
  @include flex (none, flex-start, center);
  padding: 40px;

  a {
    text-decoration: none;
  }
}

.card {
  display: inline-block;
  margin: 40px;
  @include size(50%, 30%);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  background-color: #ffffff;
  cursor: pointer;
  word-wrap: break-word;


  &:hover {
    box-shadow: 0 3px 8px rgba(126, 122, 122, 0.15);
  }
}

.no-picture-background {
  @include flex (none, center, center);
  @include size(25%, 100%);
  border-radius: 6px 6px 0 0;
  background-color: #C0E0DE;

  .text-initials {
    font-size: 6vh;
    color: white;
  }
}

.content {
  padding: 10px;
  @include size(50%, 100%);

  a {
    display: block; 
  }

  h1 {
    margin: 5px 0 5px 0;
    color: darken(white, 70%);
  }
}

.card-bottom {
  font-size: 15px;
  @include flex (none, center, flex-end);
  @include size(25%, 100%);
  width: 100%;
  background-color: #f7f7f7;
  border-radius: 0 0 6px 6px;
  cursor: pointer;

  .delete {
    width: 30%;
    @include flex (none, center, flex-end);

    img {
      @include size(25px, 25px);
      margin: 0 20px 0 0;
    }

  }

  .button-container {
    width: 100%;
    @include flex (none, center, center);

  }

  img {
    margin: 5px;
    @include size(25px, 25px);
  }
}

.link {
  height: 90px;
  width: 100%;
  @include flex(row, none, none);
  margin-bottom: 10px;
  color: #5C9EAD;
  padding: 10px;
  font-size: 12px;
  word-wrap: break-word;

  &:hover {
    opacity: 0.5;
  }
}

.button {
  @include flex (none, center, center);
  background: #5C9EAD;
  @include size(4vh, 80%);
  border-radius: 4px;
  border: none;
  margin: 0 10px 0 10px;
  cursor: pointer;
  color: white;


  &:hover {
    background-color: rgb(106, 178, 194);
    box-shadow: 0 12px 16px 0 rgba(88, 87, 87, 0.171), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

title {
  width: 100%;
}
