<a>
  <div class="icon">
    <img src="https://img.icons8.com/office/80/000000/student-female.png">
  </div>
  <div class="content">
    <h1>{{ grade.value }}</h1>
    <span>{{ grade.category }}</span>
  </div>
  <div *ngIf="!isStudent" (click)="openForm()" class="edit">
    <span>Edit</span>
    <img src="https://img.icons8.com/dusk/80/000000/edit.png">  </div>
</a>

<ng-container *ngIf="open">
  <app-edit-grade [grade]="grade" (formClose)="onformClose($event)"></app-edit-grade>
</ng-container>