.vs/
AcademicManagementBackEnd/Service/obj/Debug/netcoreapp2.1/Service.dll
AcademicManagementBackEnd/Service/obj/Debug/netcoreapp2.1/Service.dll
AcademicManagementBackEnd/Service/obj/Debug/netcoreapp2.1/Service.pdb
AcademicManagementBackEnd/Service/obj/Debug/netcoreapp2.1/Service.assets.cache
AcademicManagementBackEnd/Service/obj/Debug/netcoreapp2.1/Service.csproj.CoreCompileInputs.cache
AcademicManagementBackEnd/Service/obj/Debug/netcoreapp2.1/Service.csproj.FileListAbsolute.txt
AcademicManagementBackEnd/Service/obj/Debug/netcoreapp2.1/Service.csprojAssemblyReference.cache
AcademicManagementBackEnd/Service/obj/Service.csproj.nuget.cache
AcademicManagementBackEnd/Service/bin/Debug/netcoreapp2.1/BusinessLogic.dll
AcademicManagementBackEnd/Service/bin/Debug/netcoreapp2.1/BusinessLogic.pdb
AcademicManagementBackEnd/Service/bin/Debug/netcoreapp2.1/DataAccess.dll
AcademicManagementBackEnd/Service/bin/Debug/netcoreapp2.1/DataAccess.pdb
AcademicManagementBackEnd/Service/bin/Debug/netcoreapp2.1/Entities.pdb
AcademicManagementBackEnd/Service/bin/Debug/netcoreapp2.1/Entities.dll
AcademicManagementBackEnd/Service/bin/Debug/netcoreapp2.1/Models.dll
AcademicManagementBackEnd/Service/bin/Debug/netcoreapp2.1/Models.pdb
AcademicManagementBackEnd/Service/bin/Debug/netcoreapp2.1/Service.dll
AcademicManagementBackEnd/Service/bin/Debug/netcoreapp2.1/Service.pdb
AcademicManagementBackEnd/Service/bin/Debug/netcoreapp2.1/Service.deps.json
AcademicManagementBackEnd/Service/bin/Debug/netcoreapp2.1/Service.runtimeconfig.dev.json
AcademicManagementBackEnd/Service/obj/Service.csproj.nuget.g.props
AcademicManagementBackEnd/Service/obj/project.assets.json
AcademicManagementBackEnd/Service/obj/Debug/netcoreapp2.1/Service.dll
AcademicManagementBackEnd/Service/obj/Debug/netcoreapp2.1/Service.pdb
AcademicManagementBackEnd/Service/obj/Debug/netcoreapp2.1/Service.assets.cache
AcademicManagementBackEnd/Service/obj/Debug/netcoreapp2.1/Service.csproj.CoreCompileInputs.cache
AcademicManagementBackEnd/Service/obj/Debug/netcoreapp2.1/Service.csproj.FileListAbsolute.txt
AcademicManagementBackEnd/Service/obj/Debug/netcoreapp2.1/Service.csprojAssemblyReference.cache
AcademicManagementBackEnd/BusinessLogic/bin/Debug/netcoreapp2.1/BusinessLogic.dll
AcademicManagementBackEnd/BusinessLogic/bin/Debug/netcoreapp2.1/BusinessLogic.deps.json
AcademicManagementBackEnd/BusinessLogic/bin/Debug/netcoreapp2.1/BusinessLogic.pdb
AcademicManagementBackEnd/BusinessLogic/bin/Debug/netcoreapp2.1/DataAccess.pdb
AcademicManagementBackEnd/BusinessLogic/bin/Debug/netcoreapp2.1/BusinessLogic.dll
AcademicManagementBackEnd/BusinessLogic/bin/Debug/netcoreapp2.1/BusinessLogic.deps.json
AcademicManagementBackEnd/BusinessLogic/bin/Debug/netcoreapp2.1/BusinessLogic.pdb
AcademicManagementBackEnd/BusinessLogic/bin/Debug/netcoreapp2.1/BusinessLogic.runtimeconfig.dev.json
AcademicManagementBackEnd/BusinessLogic/bin/Debug/netcoreapp2.1/DataAccess.dll
