@import '../../../../../styles/mixins.scss';

$facebook: #3b5998;

.initials {
  @include flex(none, center, center);
  margin: 10px;

  .profile-picture {
    @include flex(none, center, center);
    @include size(60px, 60px);
    font-size: 2vh;
    border-radius: 50%;
    padding: 3px;
    border: 3px solid rgba(255, 255, 255, 0.719);
    background: rgb(196, 199, 218);
    color: white;
    margin-bottom: 10px;
  }
}

.card {
  padding:5px;
  cursor: pointer;
  @include flex(row, center, none);
  @include size(40px, 100%);
  background-color: #f7f7f7c7;
  margin-top: 1px;
  font-size: 15px;
  border-radius: 5px;
  text-decoration: none;
  height: 100px;
  padding: 10px;

  &:hover {
    background-color: #c4c2c2c7;
  }}

  .top {
    @include flex(row, none, none);
    width: 100%;}

    .date {

      font-size: 12px;
      color:darken(white, 30%);
      width: 30%;
    }

    .content {
      width: 80%;
    }
  


.unread{
  background-color: #a5afdac7;

}

.icon {
  @include flex(none, center, center);

  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;

}

.content {
  h1 {
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: .4px;
    color: $facebook;
  }

  span {
    font-size: 14px;
    color: darken(white, 30%);
    display: block;
    letter-spacing: .4px;
  }
}

img {
  @include size(30px, 30px);
}