@import '../../../../styles/mixins.scss';

.no-results {
  @include flex(none, center, center);
  height: 100%;

  img {
    @include size(100px, 100px);
  }

  h6 {
    font-size: 40px;
    margin-left: 10px;
  }
}