  <button *ngIf='isStudent' class="button" (click)="openDialog()">Give feedback</button>
  <ng-template [ngIf]="profs?.length == 0" [ngIfElse]="displayResults">
    <app-no-results text='No courses found'></app-no-results>
  </ng-template>

  <ng-template #displayResults>
    <div class="cards-container">
      <ng-container *ngFor="let course of courses">
        <app-course-card [route]="route" [message]="cardMessage" [course]="course"></app-course-card>
      </ng-container>
    </div>
  </ng-template>

  <div class="container">
    <app-display-feedback [profId]="profId"></app-display-feedback>
  </div>
