@import "../../../../../styles/general.scss";

.mat-dialog-container {
  background-color: red;
}

.button3 {
  box-shadow: white 0 0px 0px 2px inset;
  cursor: pointer;
  &:hover {
    color: black;
    box-shadow: white 0 0px 0px 40px inset;
  }
}