<section class="logo">
    <img src="../../../../assets/images/logo-fii.png">
</section>
<div class="container">
  <p class="profile">{{ initials }}</p>
  <section class="user__details">
    <p class="name">{{ fullName }}</p>
  </section>

  <ng-container *ngIf="user.userRole=='Student'">
    <section class="menu__option"><a routerLink="/studcourses">Courses</a></section>
    <section class="menu__option"><a routerLink="/grades">Grades</a></section>
    <section class="menu__option"><a routerLink="/professors">Professors</a></section>
    <section class="menu__option"><a routerLink="/newsfeed">NewsFeed</a></section>
  </ng-container>

  <ng-container *ngIf="user.userRole=='Professor'">
    <section class="menu__option"><a routerLink="/profcourses">My courses</a></section>
    <section class="menu__option"><a [routerLink]="route">My profile</a></section>
    <section class="menu__option"><a routerLink="/newsfeed">NewsFeed</a></section>
  </ng-container>

  <ng-container *ngIf="user.userRole=='Admin'">
    <section class="menu__option"><a routerLink="/manage/courses">Courses</a></section>
    <section class="menu__option"><a routerLink="/manage/professors">Professors</a></section>
    <section class="menu__option"><a routerLink="/manage/students">Students</a></section>
    <section class="menu__option"><a routerLink="/manage/groups">Groups</a></section>
  </ng-container>
  <section class="menu__option" ><a routerLink='' (click)="logOut()">Log Out</a></section>

</div>

