<form class="form" [formGroup]="addProfForm">
  <label>LastName</label>
  <input type="text" formControlName="lastName" placeholder="LastName">
  <label>FirstName</label>
  <input type="text" formControlName="firstName" placeholder="FirstName">
  <label>UserCode</label>
  <input type="text" formControlName="userCode" placeholder="UserCode">

  <ng-container *ngFor="let form of forms">
    <div class="pair">
      <mat-form-field>
        <mat-label>Course</mat-label>
        <mat-select [formControlName]="form.course">
          <mat-option (click)="filterGroups(course)" *ngFor="let course of courses" [value]="course">{{course.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Group</mat-label>
        <mat-select [formControlName]="form.group">
          <mat-option *ngFor="let group of groups" [value]="group">{{group.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </ng-container>

  <button class="buttons button" (click)="add()">Add more</button>
  <input type="submit" value="Submit" (click)="submit(addProfForm)">
</form>
