@import "../../../../styles/sizes.scss";
@import "../../../../styles/mixins.scss";

.container {
  @include flex(column, center, flex-start);
  @include size(100%,15vw);
  background: #24344D;
  color: white;
  box-shadow: 9px 3px 19px 0px rgba(166, 166, 166, 1);

  .user__details {
    @include flex(column, center, center);
    margin-bottom: 30px;
  }
}

.logo {
  height: 60px;
  background-color: white;
  border-bottom: 3px solid #45C2BA;
}

.profile {
  @include flex(none, center, center);
  @include size(14vh,7vw);
  font-size:4vh;
  border-radius: 50%;
  padding: 3px;
  margin: 30% 0 20px 0;
  border: 3px solid rgba(255, 255, 255, 0.719);
  background: #9FA2B2;
  box-shadow: 0px 0px 30px 0px rgb(19, 23, 31);
}

.menu__option {
  @include flex(column, center, center);
  @include size(7vh,100%);
  cursor: pointer;
  background: #2B3C58;
  
  &:hover {
    background: rgb(57, 80, 117);
  }
}

a {
  all: unset;
}