<form class="form" [formGroup]="addCourseForm">
  <label>Name</label>
  <input type="text" formControlName="name" placeholder="Name">
  <div *ngIf="addCourseForm.get('name')?.errors && addCourseForm.get('name')?.touched" class="error-message">
    {{ errorMessage }}
  </div>
  <label>Year</label>
  <input type="text" formControlName="year" placeholder="Year">
  <div *ngIf="addCourseForm.get('year')?.errors && addCourseForm.get('year')?.touched" class="error-message">
    {{ errorMessage }}
  </div>
  <label>Semester</label>
  <input type="text" formControlName="semester" placeholder="Semester">
  <div *ngIf="addCourseForm.get('semester')?.errors && addCourseForm.get('semester')?.touched" class="error-message">
    {{ errorMessage }}
  </div>
  <label>Package</label>
  <input type="text" formControlName="package" placeholder="Package">
  <input [class.disabled]="isDisabled" type="submit" value="Submit" (click)="submit(addCourseForm)">
</form>
