<section class="buttons">
  <button class="button" (click)="selectAction('1')">Add professor</button>
  <button class="button" (click)="selectAction('2')">Remove professor</button>
  <button class="button" (click)="selectAction('3')">Update professor</button>
  <button class="button" (click)="selectAction('4')">Add courses</button>
</section>

<ng-container *ngIf="add">
  <app-add-prof></app-add-prof>
</ng-container>

<ng-container *ngIf="remove">
  <app-remove-prof></app-remove-prof>
</ng-container>

<ng-container *ngIf="update">
  <app-update-prof></app-update-prof>
</ng-container>

<ng-container *ngIf="courses">
  <app-add-prof-courses></app-add-prof-courses>
</ng-container>