@import '../../../../../styles/mixins.scss';
$facebook: #3b5998;

a {
  @include flex(row, center, none);
  @include size(40px, 100%);
  background-color: #f7f7f7c7;
  margin-top: 1px;
  font-size: 15px;
  border-radius: 5px;
  text-decoration: none;
  height: 70px;
  padding:5px;

  &:hover {
    background-color: #c4c2c2c7;
  }
}

.icon {
  @include flex(none, center, center);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;

  img {
    @include size(30px, 30px);
  }
}

.content {
  width: 50%;

  h1 {
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: .4px;
    color: $facebook;
  }

  span {
    font-size: 14px;
    color: darken(white, 30%);
    display: block;
    letter-spacing: .4px;
  }
}

.edit {
  width: 20%;
  color: darken(white, 30%);
  font-size: 14px;
  cursor:pointer;


  @include flex(row, center, center);
  img {
    @include size(20px, 20px);
    margin-left: 5px;
  }

}

