<div class="container">
  <a class="slides-prev" (click)="plusSlides(-1)">&#10094;</a>

  <div class="test">
    <div class="display_on fade">
      <section class="initials">
        <section class="profile-picture">Unknown</section>
      </section>
      <div class="txt">
        <h2>User</h2>
        <p>“I am impressed with it.“</p>
      </div>
    </div>

    <ng-container *ngFor="let person of items">
      <div class="display_off fade">
        <section class="initials">
          <section class="profile-picture">Initials</section>
        </section>
        <div class="txt fade">
          <h2>{{ person.name }}</h2>
          <p>{{ person.despre }}</p>
        </div>
      </div>
    </ng-container>

    <div class="dot_container">
      <span class="slides-dot" (click)="currentSlide(0)"></span>
      <ng-container *ngFor="let person of items">
        <span class="slides-dot" (click)="currentSlide(person.slidenumber)"></span>
      </ng-container>
    </div>
  </div>
  <a class="slides-next" (click)="plusSlides(1)">&#10095;</a>

</div>