<div class="slides-container">
  <a class="slide-prev" (click)="plusSlides(-1)">&#10094;</a>
  <div class="slide">
    <ng-container *ngFor="let feedback of feedbackStud">
      <div *ngIf="feedback.isActive">
        <section class="initials">
          <section class="profile-picture">{{feedback.Initials}}</section>
        </section>
        <div class="txt">
          <h2>{{ feedback.UserName }}</h2>
          <p>{{ feedback.Body }}</p>
        </div>
      </div>
    </ng-container>

    <div class="dot_container">
      <ng-container *ngFor="let feedback of feedbackStud">
        <span class="slide-dot" (click)="currentSlide(feedback.slideNumber)"></span>
      </ng-container>
    </div>
  </div>
  <a class="slide-next" (click)="plusSlides(1)">&#10095;</a>

</div>
