@import "../../../../styles/mixins.scss";

.initials {
  @include flex(none, center, center);
  @include size(100%, 100%);

  .profile-picture {
    @include flex(none, center, center);
    @include size(80px, 80px);
    font-size: 2vh;
    border-radius: 50%;
    padding: 3px;
    border: 3px solid rgba(255, 255, 255, 0.719);
    background: rgb(196, 199, 218);
    color: white;
    margin-bottom: 10px;
  }
}

.slides-container {
  @include flex(row, center, center);
  padding: 15px 0 15px 0;
  height: 250px;
  background-color: #f7f7f7;

  .slide {
    @include flex(column, center, center);
    width: 100%;
    
    &-prev,
    &-next {
      @include flex(none, center, center);
      @include size(40px, 40px);
      cursor: pointer;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
    }
  
    &-next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
  
    &-prev:hover,
    &-next:hover {
      background-color: gray;
    }
  
    &-dot {
      cursor: pointer;
      height: 10px;
      width: 10px;
      margin: 0 2px;
      background-color: rgb(84, 82, 82);
      border-radius: 50%;
      display: inline-flex;
      transition: background-color 0.6s ease;
    }
  
    &-dot_container {
      display: flex;
      justify-content: center;
    }
  
    &-active,
    &-dot:hover {
      background-color: #828080;
    }
  }
  
}

.txt {
  text-align: center;
  margin: 10px;

  p {
    margin: 5px;
  }
}



