@import '../../../../styles/mixins.scss';
$facebook: #3b5998;

.card {
  background-color: white;
  padding: 10px 30px 10px 30px;
  min-height: 80px;
  border-radius: 4px;
  width: 100%;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);

  &-content {
    @include flex(none, center, flex-start);
    width: 100%;
    font-size: 12px;
    color: darken(white, 60%);
    word-wrap: break-word
  }

  .body {
    width: 80%;
    @include flex(none, center, flex-start);

  }
}

textarea {
  width: 100%;
  min-height: 30px;
  background-color: darken(white, 10%);
  border-radius: 15px;
  padding: 10px 10px 0 10px;
  border: none;
  overflow: auto;
  outline: none;
  box-shadow: none;
  resize: none;
  color: darken(white, 60%);
  overflow: hidden;
}

::-webkit-input-placeholder {
  color: darken(white, 60%);
  @include flex(none, center, flex-start);
}

form {
  height: 100%;
  width: 100%;
}


.initials {
  @include flex(none, center, flex-start);
  margin: 10px;

  .profile-picture {
    @include flex(none, center, center);
    @include size(40px, 40px);
    font-size: 2vh;
    border-radius: 50%;
    padding: 3px;
    border: 1px solid rgba(255, 255, 255, 0.719);
    background: rgb(196, 199, 218);
    color: white;
    margin-bottom: 10px;
  }
}

.content {
  width: 30%;

  h1 {
    font-size: 13px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: .4px;
    color: $facebook;
  }

  span {
    font-size: 10px;
    color: darken(white, 30%);
    display: block;
    letter-spacing: .4px;
  }
}

.date{
    font-size: 9px;
    width: 20%;
    color: darken(white, 30%);
}