@import "../../../../styles/mixins.scss";
@import "../../../../styles/colors.scss";
@import "../../../../styles/general.scss";


textarea {
  @include size(100px,200px);
  width: 100%;
}

button {
  font-size: 10px;
  margin-bottom:10px;
}

