<form class="form" [formGroup]="signupForm">
  <h1>Sign up</h1>
  <input type="text" formControlName="code" placeholder="Code">
  <input type="text" formControlName="lname" placeholder="Last name">
  <input type="text" formControlName="fname" placeholder="First name">
  <input type="text" formControlName="email" placeholder="Email">
  <input type="password" formControlName="password" placeholder="Password">
  <input type="password" formControlName="cpassword" placeholder="Confirm Password">
  <button type="submit" (click)="register(signupForm)">Signup</button>
</form>
