@import '../../../../styles/home.scss';
@import '../../../../styles/mixins.scss';
@import '../../../../styles/general.scss';

  form {
    width: 100%;
    @include flex (column, none, none);
    padding: 10px 0 10px 0;
  }

  input[type=text] {
    width: 80% !important;
    height: 40px !important;
    margin: 15px 20px 0px 20px;
  }

  .error-message{
    margin: 5px 20px 0 20px;
  }

  #checkbox {
    @include flex (row, none, none);
    width: 80% !important;
    height: 40px !important;
    margin: 15px 20px 0px 20px;
  }
  
  #checkbox input[type="radio"] {
    opacity: 0;
  }
  
  #checkbox input[type="radio"] + label {
    @include flex (row, center, center);
    padding: 0 0 0 25px;
    font-size: 16px;
    line-height: 25px;
    font-size: 12px;
    margin:0 0 10px 0;
  }
  
  #checkbox input[type="radio"] + label:before {
    content: "";
    display: block;
    height: 14px;
    width: 14px;
    background: white;
    border: 1px solid gray;
    margin-right: 5px;
    box-shadow: inset 0px 0px 0px 2px white;
  }
  
  #checkbox input[type="radio"]:checked + label:before {
    background: #ef8700;
  }

  
