@import '../../../../styles/mixins.scss';

:host(.grade-card) {
  @include flex(row, center, center);
  @include size(40px, 100%);
  border-bottom: 1px solid rgb(204, 199, 199);
  padding: 5px;
  background-color: #ffffff;
  font-size: 15px;

  &:hover {
    border-bottom: 1px solid rgba(206, 198, 198, 0.514);

  }

  .grade-details {
    width: 50%;
    @include flex(row, center, flex-start);
  }

  .options {
    width: 50%;
    @include flex(row, center, flex-end);
  }

  p {
    margin: 5px;
  }

}