<div class="left">
  <h6>Feed</h6>
  <div class="card">
    <div class="content">
      <form [formGroup]="postForm">
        <textarea formControlName="post" placeholder="Write something...">
        </textarea>
      </form>
    </div>
    <div class="footer">
      <button class = "btn" [class.disabled]="isDisabled" (click)="addPost(postForm)">Post</button></div>
  </div>

  <ng-template [ngIf]="signalRService.posts?.length == 0" [ngIfElse]="displayResults">
    <app-no-results text='No posts yet'></app-no-results>
  </ng-template>

  <ng-template #displayResults>
    <ng-container *ngFor="let post of posts">
      <app-feed-card [post]="post"></app-feed-card>
    </ng-container>
  </ng-template>
</div>


<div class="right">
  <h1>Choose your optionals</h1>
  <div class="mini-card"> <button (click)="goTo()">Choose your optional courses</button></div>
</div>