@import '../styles/sizes.scss';

.main-container {
  display: inline-flex;

  width: 100%;
  height: 100vh;

  .sidebar-container{

  }

  .right-container {
    width: 100%;
    height: 100%;

    .top-bar-container {
      width: 100%;
      height: 60px;
    }
    .content-container {
      overflow: auto;
      background-color: $white;
      width: 100%;
      height: $height-wo-tb;
      border-left: $content-line;
    }
  }
}
