@import '../../../../../styles/mixins.scss';
$facebook: #3b5998;

.card {
  margin: 40px 0 0 0;
  background-color: white;
  padding: 30px 30px 5px 30px;
  min-height: 230px;
  border-radius: 4px;
  width: 100%;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);

  &-header {
    @include flex(row, center, flex-start);
    color: darken(white, 30%);
    height: 30%;
    margin-bottom: 10px;

    .date {
      @include flex(row, center, flex-end);
      width: 30%;
      font-size: 13px;
    }

    .content {
      width: 55%;
    }

  }

  &-content {
    width: 100%;
    font-size: 15px;
    min-height: 50%;
    margin-bottom: 30px;
    color: darken(white, 60%);
    word-wrap: break-word
  }

  &-footer {
    @include flex(row, center, flex-start);
    height: 20%;
    padding: 5px;
    padding-right: 20px;

    &:focus+i {
      color: #5C9EAD;
    }
  }
}


h1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: .4px;
  color: $facebook;
}

span {
  font-size: 14px;
  color: darken(white, 30%);
  display: block;
  letter-spacing: .4px;
}


.initials {
  @include flex(none, center, flex-start);
  margin: 10px;
  width: 15%;

  .profile-picture {
    @include flex(none, center, center);
    @include size(60px, 60px);
    font-size: 2vh;
    border-radius: 50%;
    padding: 3px;
    border: 3px solid rgba(255, 255, 255, 0.719);
    background: rgb(196, 199, 218);
    color: white;
    margin-bottom: 10px;
  }
}

i {
  margin: 5px;
  color: pink;
}