<section class="year__container">
  <app-card-header [title]="title"></app-card-header>
  <section class="semesters__wrapper">
    <section class="semester__container">
      <app-semester-grouped-courses-card *ngIf="firstSemester" [title]="'First Semester'" [courses]="firstSemester"></app-semester-grouped-courses-card>
    </section>
    <section class="semester__container">
      <app-semester-grouped-courses-card *ngIf="seconSemester" [title]="'Second Semester'" [courses]="seconSemester"></app-semester-grouped-courses-card>
    </section>
  </section>
</section>
