<form class="form" [formGroup]="addStudForm">
  <label>LastName</label>
  <input type="text" formControlName="lastName" placeholder="Name">
  <label>FirstName</label>
  <input type="text" formControlName="firstName" placeholder="Year">
  <label>UserCode</label>
  <input type="text" formControlName="userCode" placeholder="Semester">

  <mat-form-field>
    <mat-label>Optional Courses</mat-label>
    <mat-select formControlName="optionals" multiple>
      <mat-option *ngFor="let course of courses" [value]="course">{{course.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Group</mat-label>
    <mat-select formControlName="group">
      <mat-option *ngFor="let group of groups" [value]="group">{{group.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <input type="submit" value="Submit" (click)="submit(addStudForm)">
</form>
