<div class="page-container">
  <div class="container">
    
    <ng-container>
      <img src="../../../assets/images/426430-PE93QI-643.jpg">
    </ng-container>

    <div class="form-container">
      <div class="form">
        <h1>Sign in</h1>
        <input type="text" placeholder="Enter Email" name="email" required>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <p>Forgot password?</p>
        <button type="submit">Login</button>
      </div>

      <p>No account? Sign up</p>
    </div>
  </div>

</div>
