@import '../../../../styles/home.scss';
@import '../../../../styles/mixins.scss';
@import '../../../../styles/general.scss';

  form {
    width: 100%;
    @include flex (column, none, none);
    padding: 10px 0 10px 0;
  }

  input[type=text] {
    width: 80% !important;
    height: 40px !important;
    margin: 15px 20px 0px 20px;
  }

  .error-message{
    margin: 5px 20px 0 20px;
 
  }
  
