@import "../../../styles/sizes.scss";
@import "../../../styles/mixins.scss";

.page__container {
  @include flex(none, center, center);
  height: $height-wo-tb;
  background: #f9f9ff;

  .auth__card {
    @include flex(row, center, center);
    @include size(70vh, 60vw);
    box-shadow: 6px 6px 18px #c2c2c4;
    border-radius: 12px;
    background-color: white;

    .buttons {
      @include flex(row, none, flex-end);
      @include size(15%, 100%);

      .login {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
      }

      .signup {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
      }

      button {
        @include size(4vh, 5vw);
        font-size: 1.5vh;
        border: none;
        padding: 5px;
        box-shadow: 6px 6px 18px #c2c2c4;

        &:focus,
        &:hover {
          background-color: #45C2BA;
        }
      }
    }

    .form__container {
      @include size(100%, 100%);
      @include flex(column, center, none);
      padding: 5vh;
    }
  }

  img {
    width: 55%;
    height: 100%;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
  }

  h1 {
    margin-bottom: 20px;
    font-size: 35px;
  }
}
