@import "../../../styles/sizes.scss";
@import "../../../styles/mixins.scss";

.page__container {
  @include flex(none, center, center);
  height: $height-wo-tb;
  background: #f9f9ff;

  .auth__card {
    @include flex(row, center, center);
    @include size(70vh, 60vw);
    box-shadow: 6px 6px 18px #c2c2c4;
    border-radius: 12px;
    background-color: white;



    .buttons {
      @include flex(row, none, flex-end);
      @include size(15%, 100%);
      margin-bottom: 30px;

      .isActive {
        button {
          background-color: #5C9EAD;
        }
      }
      button {
        background-color: #aaa;
        @include size(4vh, 50%);
        border-radius: 4px;
        border: none;
        margin: 20px 0 40px 0;

        &:hover {
          background-color: rgb(106, 178, 194);
          box-shadow: 0 12px 16px 0 rgba(88, 87, 87, 0.171), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
        }
      }
    }

    .form__container {
      @include size(100%, 100%);
      @include flex(column, center, none);
      padding: 5vh;
    }
  }

  img {
    width: 55%;
    height: 100%;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
  }

  h1 {
    margin-bottom: 20px;
    font-size: 35px;
  }
}
