@import '../../../styles/mixins.scss';
@import "../../../styles/general.scss";

.container {
  @include flex(row, flex-start, none);

}

:host(.page-wrapper) {
  @include flex(column, flex-start, none);
  margin: 40px;
  height: 100%;
  width: 100%;
}

.grades-wrapper {
  @include flex(column, flex-start, none)
}

app-file-upload {
  margin-bottom: 40px;
}

button {
  margin-bottom: 30px !important;
}

.left,
.right {
  width: 50%;
  height: 100%;
}

.resources {
    width: 100%;
}
