$dark-grey:#707070;
$grey:#646464;
$dark-green:#55C940;
$green: #4CC636;
$blue: #3CA8E7;
$light-green: #81D772;
$green-shadow:#C4E6B2;
$white: #FFF;
$browse-icon-color:#F6F6F6;
$list-container-background: #F9F9F9;
$content-line-color: #F2F2F2;
$red: #E74C3C;
$light-grey:#F1F1F1;
$box-border-color: #D8D8D8;
$light-blue: lightblue;
$black: #000;
$yellow: #F1C40F;


$deep-blue: #133C55;
$turquoize: #5C9EAD;
