@import '../styles/mixins.scss';
@import '../styles/colors.scss';


.buttons {
  @include flex(row, center, center);
  width: 100%;
  margin-top: 30px;
}

.button {
  display: inline-block;
  background: #FFFFFF;
  padding: 0.5em 3em;
  border: 0.16em solid rgb(6, 6, 32);
  background-color: $deep-blue;
  border-radius: 15px;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: $white;
  text-align: center;
  transition: all 0.15s;
  cursor: pointer;
}

.button-disabled{
  display: inline-block;
  background: #FFFFFF;
  padding: 0.5em 3em;
  border: 0.16em solid rgba(59, 59, 95, 0.404);
  background-color:  rgba(59, 59, 95, 0.404);
  border-radius: 15px;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: $white;
  text-align: center;
  transition: all 0.15s;
  pointer-events: none;
}

.button:hover {
  background-color: rgb(5, 12, 73);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:active {
  background-color: rgb(5, 12, 73);
}


.form {
  @include flex(column, none, center);

  margin-top: 40px;
  min-width: 22vw;
  border: 1px solid rgb(209, 208, 208);
  padding: 15px;
}

input[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: $turquoize;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: $deep-turquoize;
}


.button2-disabled {
  @include flex (none, none, center);
  @include size(25px, 90px);
  border-radius: 5px;
  align-self: flex-end;
  color: white;
  margin: 10px 0 0 0;
  background: rgba(59, 59, 95, 0.404);
  border: none;
  pointer-events: none;
}

.button2 {
  @include flex (none, none, center);
  @include size(25px, 90px);
  border-radius: 5px;
  align-self: flex-end;
  color: white;
  margin: 10px 0 0 0;
  background:$deep-blue;;
  border: none;
  cursor: pointer;
}

.button2:hover {
  background-color: rgb(47, 75, 110);
  box-shadow: 0 12px 16px 0 rgba(88, 87, 87, 0.171), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
}

.button3 {
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	display: block;
	max-width: 180px;
	text-decoration: none;
	border-radius: 4px;
  padding: 6px 25px;
  color: rgba(30, 22, 54, 0.6);
  border:none;
  background-color: #FFFFFF;
	box-shadow:  $deep-turquoize 0 0px 0px 2px inset;
}


 .button3:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: $deep-turquoize 0 0px 0px 40px inset;
}

::ng-deep mat-dialog-actions {
  height: 100px;
}

mat-dialog-content {
  background: pink !important;
}