@import "../styles/mixins.scss";

input[type=text],
[type=password] {
  @include size(5vh,22vw);
  display: inline-block;
  padding: 1vh;
  margin-top: 1vh;
  border: 2px solid #5C9EAD;
  border-radius: 15px;
}

button {
  background: #5C9EAD;
  @include size(4vh,22vw);
  border-radius: 15px;
  border: none;
  margin:20px 0 40px 0;
}

p {
    margin-top : 10px;
}