@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin size($height, $width) {
  height: $height;
  width: $width;
}

@mixin circle($size) {
  border-radius: 50%;
  width: $size;
  height: $size;
}