@import "../../../../../styles/home.scss";

form{
  @include flex(column, flex-start, center);
}
$facebook: #3b5998;

.formula-card {
  @include flex(row, center, none);
  width: 35rem;
  background-color: #f7f7f7c7;
  margin-top: 1px;
  font-size: 15px;
  border-radius: 5px;
  text-decoration: none;
  min-height: 70px;
  padding:5px;
  margin-bottom: 20px;



  &:hover {
    background-color: #c4c2c2c7;
  }
}


.content {
  height: inherit;
  width: 60%;
  word-wrap: break-word;
  font-size: 100%;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: .4px;
  color: $facebook;

}

label {
  margin-bottom: 10px;
  font-size: 13px;
}

.icon {
  @include flex(none, center, center);
  width: 70px;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 20px 0 20px;

  img {
    @include size(50px, 50px);
  }
}

.edit {
  width: 20%;
  color: darken(white, 30%);
  font-size: 14px;
  cursor:pointer;


  @include flex(row, center, center);
  img {
    @include size(30px, 30px);
    margin-left: 10px;
  }


}